@import url('//at.alicdn.com/t/font_2997007_rcz78ex2qln.css');


.app-mantle{
    pointer-events:none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}
.lxnuoyan-wrapper{
    position:fixed !important;
    display:none;
    width:100% !important;
    height:100vh !important;
    top:0 !important;
    left:0 !important;
    z-index:999
}
.lxnuoyan-wrapper-active{
    display:block;
}
.lxnuoyan-wrapper-mask{
    background-color: rgba(0, 0, 0, 0.7) !important;
}
.swipe-item img{
    display: block;
    box-sizing: border-box;
    width: 100%;
    background-color: #fff;
    pointer-events: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-size: inherit;
}
p{
    margin: 0;
  }